apiVersion: v1
kind: Pod
metadata:
  name: inference-with-sidecar
spec:
  containers:
  - name: inference
    image: inference-image
    command: # pass model name and lora adapter as args

  - name: sidecar
    image: sidecar-image
    command: 
